// Listview alignment
.listview-horizontal {
    .mx-listview {
                    & ul {
                        display: flex;
                    }
                        li {
                            border: 0 !important; 
                     }
    }
}

.listview-vertical {
    .mx-listview {
                    & ul {
                        display: flex;
                        flex-direction: column !important;
                    }
                        li {
                           border: 0 !important; 
                     }
    }
}